* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 415px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#landing {
  color: #fff;
  height: 100vh;
  position: relative;
  z-index: 0;
}

#landing:before {
  content: "";
  background: url("https://www.thetrainingroom.com/getattachment/d421bbf5-e412-4c35-a5c6-34d11288833d/How-do-I-become-a-web-dev-blog-01.pngaspx")
    no-repeat center center/cover;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0%;
  height: 100vh;
  z-index: -1;
}

#landing .landing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
#landing h1 {
  font-size: 3rem;
}

#landing p {
  font-size: 1rem;
}
.btn {
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 0.6s ease-in;
}

.btn {
  scroll-behavior: smooth;
}
.btn:hover {
  opacity: 0.5;
}
#bio h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
#bio {
  background-color: var(--primary-color);
  height: 100vh;
  margin-top: 100px;
  font-family: sans-serif, cursive;
  color: #444;
}
.bio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  width: 90%;
  margin: auto;
  line-height: 2rem;
}

.about-me {
  margin-top: 250px;
}
.profile-img {
  background: url(../img/profile-picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 15%;
  right: 15%;
  height: 30vh;
}

.social-link-header {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: -10px;
  color: #444;
}
#social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  margin: auto;
  height: 15vh;
}
#social-links .icon {
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

#social-links .facebook-icon {
  width: 70px;
  height: 35px;
  text-align: center;
}
#social-links .github-icon,
#social-links .linkedin-icon {
  width: 46px;
  height: 46px;
  text-align: center;
}
#social-links .linkedin-icon {
  margin-left: 10px;
}

.icon:hover {
  opacity: 0.7;
}
#footer {
  background: var(--primary-color);
  height: 100px;
  display: flex;
  align-content: space-between;
}

#footer h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 10px;
}
