.swiper-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  z-index: -1;
}
.swiper-container h1 {
  text-align: center;
  /* background: var(--primary-color); */
  width: 40%;
  margin: auto;
  font-size: 30px;
  color: #444;
  margin-bottom: 0;
  margin-bottom: 10px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(15, 15, 15);
  color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 30px;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; */
  z-index: -1;
}
.swiper-slide article {
  width: 85%;
  margin: 0 auto;
  line-height: 1.5rem;
  text-align: justify;
  color: lightsalmon;
}
.slide-1 h3 {
  text-shadow: 2px 2px var(--primary-color);
}
.slide-1 a {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: var(--overlay-color);
  font-weight: bold;
  border: 2px solid var(--overlay-color);
  border-radius: 4px;
  background: lightsalmon;
  padding: 4px 10px;
  margin: 7px;
}
.skills-used img {
  margin-top: 5px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 5px;
}
.slide-1 h4,
h2 {
  font-family: cursive;
  color: #fff;
}
